.Header {
  padding: 20px;
  background-color: rgb(181, 181, 189);
  color: rgb(39, 42, 190);
}

.Footer {
  padding: 20px;
  background-color: blue;
  color: white;
}

.Main {
  padding: 40px;
  background-color: gray;
  color: black;
}