.Header {
  padding: 20px;
  background-color: blue;
  color: white;
}

.Footer {
  padding: 20px;
  background-color: blue;
  color: white;
}

.Main {
  padding: 40px;
  background-color: gray;
  color: black;
}